In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
#os.chdir(r'/home/ajmalrasi/Documents/ML_Deployments_exp/car-price-prediction/CarPrice_Assignment.csv')

/home/.virtualenvs/cv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/home/ajmalrasi/.virtualenvs/cv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [2]:
automobile_data = pd.read_csv("/home/Documents/ML_Deployments_exp/car-price-prediction/CarPrice_Assignment.csv")

In [3]:
automobile_data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
automobile_data.shape

(205, 26)

In [6]:
automobile_data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [7]:
automobile_data.drop(['car_ID', 'symboling','CarName'], axis=1, inplace=True)

In [8]:
automobile_data = pd.get_dummies(automobile_data)

In [9]:
automobile_data.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0

In [10]:
automobile_data.shape

(205, 52)

In [11]:
X = automobile_data.drop('price', axis=1)
Y = automobile_data['price']

In [12]:
x_train,x_test, y_train, y_test = train_test_split(X,Y, test_size=0.20)

In [13]:
x_train.shape, y_train.shape

((164, 51), (164,))

In [14]:
x_test.shape, y_test.shape

((41, 51), (41,))

In [15]:
model = LinearRegression().fit(x_train, y_train)

In [16]:
Training_score = model.score(x_train, y_train)
Training_score

0.9454241858115287

In [17]:
y_pred = model.predict(x_test)
y_pred

array([ 7994.44423287,  9264.12052418, 27560.09519598, 11789.4925605 ,
       15658.87625148, 16317.7423564 , 13592.22043016,  8318.00517188,
       13573.05647991,  8391.62461845, 11966.04358574, 16448.40201855,
        5127.16382044,  5444.23400488, 16468.2063196 ,  9399.64941266,
       16191.37675821, 12581.29904681,  5912.2269362 ,  7337.73961865,
       15656.81829688,  8863.82299257,  8499.70864928,  8610.30519663,
       12146.86921722,  7699.47269525, 11583.23563839, 20451.35169769,
        6307.37665712,  9651.29725371,  6837.90460665, 15448.0727987 ,
        5119.56150374, 17861.10208439, 11414.16395025, 10315.14954984,
        7690.32972793,  6460.71542298,  6249.38507363,  7463.96430562,
       19815.21800197])

In [18]:
Testing_score = r2_score(y_test, y_pred)
Testing_score

0.8099989267309124

# json serialization

In [19]:
# Serialize the model with json
import json

In [20]:
model.coef_

array([ 6.34599623e+01, -6.99820720e+01,  6.15808928e+02,  2.17276777e+01,
        3.83279005e+00,  1.22942005e+02, -2.24777171e+03, -4.43218602e+03,
       -1.05355484e+03,  1.51509131e+01,  2.40325001e+00, -5.38058642e+01,
        9.99153119e+01,  5.40650722e+03, -5.40650722e+03, -5.53792000e+02,
        5.53792000e+02, -1.76979435e+02,  1.76979435e+02,  1.96908533e+03,
       -1.33134530e+03, -6.97354389e+02,  4.72537606e+02, -4.12923250e+02,
       -7.44987293e+02, -5.45339540e+01,  7.99521247e+02, -3.66365943e+03,
        3.66365943e+03,  6.32312100e+02, -5.76605481e+03,  1.18877920e+02,
        4.67617167e+03,  3.00695283e+03, -4.44996709e+03,  1.78170738e+03,
        5.70868212e+03, -3.21696322e+03, -4.05629487e+03, -5.22219400e+02,
        5.63613970e+03, -5.33105171e+03,  1.78170738e+03,  5.99722514e+01,
        2.04698488e+02,  1.78170738e+03,  5.40650722e+03, -3.62946865e+03,
        9.44592028e+01, -3.64178424e+03, -2.76091654e+02])

In [21]:
model.intercept_

-23608.228007645026

In [22]:
model_param = {}
model_param['coef'] = list(model.coef_)
model_param['intercept'] = model.intercept_.tolist()

In [23]:
json_txt = json.dumps(model_param, indent=4)
json_txt

'{\n    "coef": [\n        63.45996229664352,\n        -69.98207202852487,\n        615.8089278614603,\n        21.72767765339705,\n        3.8327900505507637,\n        122.9420050624441,\n        -2247.7717130218925,\n        -4432.186023992531,\n        -1053.5548427947438,\n        15.15091314203426,\n        2.4032500077009975,\n        -53.80586416798422,\n        99.91531193200531,\n        5406.50721741189,\n        -5406.507217411905,\n        -553.7919997864454,\n        553.7919997864177,\n        -176.97943500938217,\n        176.97943500930648,\n        1969.085334336021,\n        -1331.3453011532754,\n        -697.3543894638548,\n        472.5376059733055,\n        -412.92324969220704,\n        -744.9872929613191,\n        -54.53395403124428,\n        799.5212469925751,\n        -3663.659425032603,\n        3663.6594250325898,\n        632.3120995274809,\n        -5766.054806451661,\n        118.87792018475086,\n        4676.171668039915,\n        3006.952826879443,\n        -4449.967092879022,\n        1781.7073846991625,\n        5708.682122192094,\n        -3216.963221063617,\n        -4056.2948735970213,\n        -522.2193996331107,\n        5636.139698570551,\n        -5331.051711168047,\n        1781.7073846991639,\n        59.97225137977334,\n        204.69848811997286,\n        1781.7073846991639,\n        5406.50721741191,\n        -3629.4686530799195,\n        94.45920275296457,\n        -3641.7842368240426,\n        -276.09165445979863\n    ],\n    "intercept": -23608.228007645026\n}'

In [24]:
# Savwing the model in json in txt file
with open ('/home/Documents/ML_Deployments_exp/regressor_param.txt','w') as file:
    file.write(json_txt)

In [25]:
#  Read file 
with open ('/home/Documents/ML_Deployments_exp/regressor_param.txt','r') as file:
    json_txt = json.load(file)

In [26]:
json_model = LinearRegression()

In [27]:
json_model.coef = np.array(json_txt['coef'])
json_model.intercept = np.array(json_txt['intercept'])

In [32]:
#y_pred = json_model.predict(x_test)

# pickle serialization

In [33]:
# using pickle
import pickle

In [35]:
pickle.dump(model, open('/home/Documents/ML_Deployments_exp/model.pkl','wb'))

In [36]:
# load pickle 
pickle_model = pickle.load(open('/home/Documents/ML_Deployments_exp/model.pkl','rb'))

In [37]:
y_pred = pickle_model.predict(x_test)

In [38]:
r2_score(y_test, y_pred)

0.8099989267309124

# Joblib serialization

In [39]:
import joblib

In [40]:
filename = '/home/Documents/ML_Deployments_exp/model.joblib'

In [41]:
joblib.dump(model, filename)

['/home/Documents/ML_Deployments_exp/model.joblib']

In [42]:
joblib_model = joblib.load(filename)

In [43]:
y_pred = joblib_model.predict(x_test)

In [44]:
r2_score(y_test, y_pred)

0.8099989267309124